---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="hero">
    <div class="about">
      <h1>About</h1>
      <p>
        Hello! I'm a stinky doo doo head!
      </p>
    </div>
    <div class="experience">
        <h1>Experience</h1>
        <p>
          Hello! I'm a stinky doo doo head!
        </p>
    </div>
    <div class="projects">
        <h1>Projects</h1>
        <p>
          Hello! I'm a stinky doo doo head!
        </p>
    </div>
  </section>
</BaseLayout>
