---
---
<footer class="site-footer">
    <div class="container">
      <p>
        Heavily inspired by: <a class="link" href="https://namesake.fyi">namesake.fyi</a>
      </p>
      <p>
        Developed by me! Using <a class="link" href="https://astro.build">Astro!</a>
      </p>
    </div>
  </footer>
  
  <style>
    .site-footer {
      background-color: black;
      color: #cda5ef;
      padding: 1rem 0;
      text-align: left;
      width: 100%;
      position: relative;
      z-index: 0;
    }
    .container{
      justify-content: space-between;
      align-items: center;
      max-width: 45%;
      margin: 0 auto;
    }
    .link {
        color: #cda5ef;
        text-decoration: none;
    }
    .link:hover{
        text-decoration: underline;
    }
  </style>
  