---
import { Icon } from 'astro-icon/components';

interface Link {
  name: string;
  href: string;
  iconName: string;
}

const links: Link[] = [
  { name: "LinkedIn", href: "https://linkedin.com/in/liamadale", iconName: "linkedin" },
  { name: "GitHub", href: "https://github.com/liamadale", iconName: "github" },
];
---

<header class="header">
  <div class="logo">
    <a href="/" class="logo-link">
      <h1>Liam A Dale</h1>
    </a>
  </div>
  <nav class="nav">
    <ul>
      {links.map((link) => (
        <li>
          <a href={link.href} target="_blank" rel="noopener noreferrer">
            <Icon name={link.iconName} class="icon" />
          </a>
        </li>
      ))}
    </ul>
  </nav>
</header>

<style>
  @import "/styles/header.css";
</style>
