---
interface Link {
  name: string;
  href: string;
}

const links: Link[] = [
  { name: "Blog", href: "/blog" },
  { name: "Projects", href: "/projects" },
  { name: "LinkedIn", href: "https://linkedin.com/in/yourprofile" },
  { name: "GitHub", href: "https://github.com/yourusername" },
];
---
<header class="header">
  <div class="logo">
    <a href="/" class="logo-link">
        <h2>Liam Dale</h2>
    </a>
  </div>
  <nav class="nav">
    <b>
        <ul>
        {links.map(link => (
            <li><a href={link.href} target="_blank" rel="noopener">{link.name}</a></li>
        ))}
        </ul>
    </b>
  </nav>
</header>

<style>
  @import "/styles/header.css";
</style>
